[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2020.12.5"
flask = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
flask-migrate = "*"
flask-script = "*"
marshmallow = "*"
flask-bcrypt = "*"
pyjwt = "==1.7.1"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.8"
